<div class="container-boats">
  <div>
    <% @boats.each do |boat| %>
      <%= link_to(boat_path(boat), class: "boat-text", target: :_blank) do %>
    <div class="boat-parent">
    <%= cl_image_tag boat.image.key, width: 500, height: 300, class: "card-category" %>
      <p class="boat-name"> <%= boat.name %> </p>
    </div>
      <% end %>
    <% end %>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div> 


