<h1><%= @boat.name %></h1>
<p><%= @boat.location %> </p>
<%= cl_image_tag @boat.image.key, width: 500, height: 300, class: "rounded-lg" %>
<div>
  <p><%= @boat.description %></p>
</div>
<div>
  <p>€<%= @boat.price %> </p>
</div>
<%= link_to "SHOW ALL BOATS",boats_path %>
<%= link_to "Edit your boat",edit_boat_path %>


<%= link_to "Remove", boat_path(@boat), method: :delete, date: {confirm: "Are you sure"} %>
<%= link_to 'book', new_boat_booking_path(@boat) %>
