<div class="mt-5">
  <div class="d-flex">
    <div>
      <h1><%= @boat.name %></h1>
      <p class="text-secondary"><%= @boat.location %> </p>
    </div>
    <div class="ml-5">
      <%= link_to edit_boat_path, class: "btn btn-outline-primary" do%>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to boat_path(@boat), method: :delete, date: {confirm: "Are you sure"}, class: "btn btn-outline-danger" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="height: 400px;">
    <%= cl_image_tag @boat.image.key, style: "object-fit: cover;"%>
  </div>
</div>
<div class="d-flex mb-5 position-relative" style="top: -30px;">
  <div class="col-8 bg-white mr-3 p-3">
    <p><%= @boat.description %></p>
  </div>
  <div class="col-4 bg-white ml-3 p-3">
    <p><b>€<%= @boat.price.floor %></b> / day </p>
    <%= link_to 'Book', new_boat_booking_path(@boat), class: "btn btn-outline-success" %>
  </div>
</div>
